.block-container {
    padding-top: 4rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;

}

.main {
    padding-left: 2rem;
    padding-right: 4rem;
}

#lok-sabha-2024-elections {
    color: red;
    padding-left: 20rem;
}

div.st-emotion-cache-183lzff.exotz4b0 {
    padding-left: 15rem;
}

#current-indian-political-landscape {
    padding-left: 2.3rem;
}

/* div.st-emotion-cache-13g57je.e1f1d6gn3 {
    
} */


div.st-emotion-cache-d4hl0i.e1f1d6gn3 {
    text-align: center;
}